<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <title>ChocoLux - Socola</title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" />
  <!--slick slider stylesheet -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick-theme.min.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap" rel="stylesheet" />
  <!-- slick slider -->
  <link rel="stylesheet" th:href="@{/css/slick-theme.css}" />
  <!-- font awesome style -->
  <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link th:href="@{/css/style.css?v=2}" rel="stylesheet" />
  <!-- responsive style -->
  <link th:href="@{/css/responsive.css?v=2}" rel="stylesheet" />

</head>
</html>
