<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<header class="header_section" th:fragment="top">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg custom_nav-container ">
      <a class="navbar-brand" th:href="@{/}">
        ChocoLux Shop
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class=""> </span>
      </button>

      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item" th:each="cat : ${categories}">
            <a class="nav-link" th:href="@{${cat.url == '' ? '/' : '/' + cat.url}}" 
               th:text="${cat.name}"
               th:style="${(slug != null and slug == cat.url) or (isHome != null and isHome and cat.url == '') ? 'color: #8B4513 !important; font-weight: bold;' : ''}">Category</a>
          </li>
        </ul>
        <div class="quote_btn-container">
          <form class="form-inline" th:action="@{/search}" method="get">
            <input type="text" name="q" placeholder="Search..." class="form-control mr-2" style="max-width: 150px; display: none;" id="searchInput">
            <button class="btn  my-2 my-sm-0 nav_search-btn" type="button" onclick="document.getElementById('searchInput').style.display='block';">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
          </form>
          <div sec:authorize="!isAuthenticated()">
            <a th:href="@{/dang-nhap}" class="mx-2" title="Login / Register">
              <i class="fa fa-user" aria-hidden="true"></i> Đăng nhập
            </a>
          </div>
          <div sec:authorize="isAuthenticated()" class="d-flex align-items-center">
            <a th:href="@{/tai-khoan}" class="mx-2" title="Tài khoản">
              <i class="fa fa-user" aria-hidden="true"></i> Tài khoản
            </a>
            <form th:action="@{/dang-xuat}" method="post" class="m-0">
              <button type="submit" class="btn btn-link p-0 text-dark mx-2" title="Đăng xuất" style="text-decoration: none;">
                <i class="fa fa-sign-out" aria-hidden="true"></i> Đăng xuất
              </button>
            </form>
          </div>
          <a th:href="@{/gio-hang}" class="mx-2" title="Cart">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </nav>
  </div>
</header>
</body>
</html>
