<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/main}">
<body>
    <th:block layout:fragment="content">
        <section class="contact_section layout_padding">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-5 col-lg-4 offset-md-3 offset-lg-4">
                        <div class="form_container">
                            <div class="heading_container text-center mb-4">
                                <h2>Đăng ký</h2>
                            </div>
                            <div th:if="${error}" class="alert alert-danger text-center" th:text="${error}">
                                Có lỗi xảy ra.
                            </div>
                            <form th:action="@{/dang-ky}" th:object="${registerRequest}" method="post">
                                <div>
                                    <input type="text" th:field="*{fullName}" placeholder="Họ và tên" required />
                                </div>
                                <div>
                                    <input type="text" th:field="*{username}" placeholder="Tên đăng nhập" required />
                                </div>
                                <div>
                                    <input type="password" th:field="*{passwordHash}" placeholder="Mật khẩu" required />
                                </div>
                                <div class="d-flex justify-content-center mt-3">
                                    <button type="submit" class="btn btn-dark w-100 py-2">ĐĂNG KÝ</button>
                                </div>
                                <div class="text-center mt-3">
                                    <p>Đã có tài khoản? <a th:href="@{/dang-nhap}">Đăng nhập ngay</a></p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </th:block>
</body>
</html>