<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="info">
  <!-- info section -->
  <section class="info_section layout_padding2">
    <div class="container">
      <div class="row info_form_social_row">
        <div class="col-md-8 col-lg-9">
          <div class="info_form">
            <form action="">
              <input type="email" placeholder="Enter your email">
              <button>
                <i class="fa fa-arrow-right" aria-hidden="true"></i>
              </button>
            </form>
          </div>
        </div>
        <div class="col-md-4 col-lg-3">
          <div class="social_box">
            <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="row info_main_row">
        <div class="col-md-6 col-lg-3">
          <div class="info_links">
            <h4>Menu</h4>
            <div class="info_links_menu">
              <a th:each="cat : ${categories}" th:href="@{${cat.url == '' ? '/' : '/' + cat.url}}" th:text="${cat.name}">Menu</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="info_detail">
            <h4>ChocoLux Shop</h4>
            <p class="mb-0">Website bán socola cao cấp.</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <h4>Contact Us</h4>
          <div class="info_contact">
            <a href=""><i class="fa fa-map-marker" aria-hidden="true"></i><span>HCM, Vietnam</span></a>
            <a href=""><i class="fa fa-phone" aria-hidden="true"></i><span>Call +84 123456789</span></a>
            <a href=""><i class="fa fa-envelope"></i><span>contact@chocolux.com</span></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end info_section -->
</th:block>

<th:block th:fragment="footer">
  <!-- footer section -->
  <footer class="container-fluid footer_section">
    <div class="container">
      <div class="col-md-11 col-lg-8 mx-auto">
        <p>
          &copy; <span id="displayYear"></span> All Rights Reserved By ChocoLux Shop
        </p>
      </div>
    </div>
  </footer>
  <!-- footer section -->
</th:block>
</body>
</html>